.item {
    margin: 1rem;
    padding: 1rem;
    background-color:grey;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  